<div layout="column">

  <div layout="row" layout-align="space-around center" flex="50">
    <div layout="column">
      <h1>Vista de tutorial</h1>
      <md-input-container>
        <label>Title</label>
        <input type="text" ng-model="tutorial.textoPrueba" />
      </md-input-container>
      <div layout="row">
        Binding Example:
        <span ng-bind="tutorial.textoPrueba"></span>
      </div>
      <md-button class="md-raised md-warn" ng-click="tutorial.dale('hola')">ClickMe!</md-button>
    </div>
    <div layout="column">
      <table>
        <tr ng-repeat="coche in tutorial.coches">
          <td>{{coche}}</td>
          <td>
            <md-button class="md-raised md-warn" ng-click="tutorial.getCoche(coche)">Click!</md-button>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <br/>
  <br/>

  <div layout="column" layout-align="center center">
    <md-button class="md-raised md-warn" ng-click="tutorial.getChuckJoke()">Get Joke!</md-button>
    <h4 ng-bind="tutorial.joke"></h4>
  </div>

  <div layout="row" layout-align="center center">
    <md-input-container>
      <label>#Jokes</label>
      <input type="number" ng-model="tutorial.numJokes"></input>
    </md-input-container>
    <md-button class="md-fab md-mini md-warn" ng-click="tutorial.getChuckJokes()">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </md-button>
  </div>

  <table class="table-striped">
    <tr>
      <td ng-repeat="jokeSingle in tutorial.chuckJokes">{{jokeSingle.joke}}</td>
    </tr>
  </table>

  <form name="detenidoForm">

    <div layout="row">
      <md-input-container>
        <label>Nombre</label>
        <input type="text" name="nombre" ng-model="tutorial.detenido.nombre" required></input>
        <div ng-messages="detenidoForm.nombre.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Apellidos</label>
        <input type="text" name="apellidos" ng-model="tutorial.detenido.apellidos" required></input>
        <div ng-messages="detenidoForm.apellidos.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </div>

    <md-input-container>
      <label>Sexo</label>
      <md-select name="sexo" ng-model="tutorial.detenido.sexo" required>
        <md-option value="1">Diario</md-option>
        <md-option value="2">Aveces</md-option>
      </md-select>
      <div ng-messages="detenidoForm.sexo.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>

    <md-button class="md-raised md-warn" ng-disabled="detenidoForm.$invalid">Submit!</md-button>
    <span ng-show="detenidoForm.$dirty">Ya escribiste algo</span>

  </form>



  <dynamic-select label="Pais"
    ng-model="tutorial.detenido.pais"
    collection="tutorial.catalogosList"
    filter="PA" name="pais" form="detenidoForm">
  </dynamic-select>
  <span>{{tutorial.detenido.pais}}</span>

  <dynamic-select label="Ojos"
    ng-model="tutorial.detenido.ojos"
    collection="tutorial.catalogosList"
    filter="OJ" name="ojos" form="detenidoForm">
  </dynamic-select>
  <span>{{tutorial.detenido.ojos}}</span>

  </div>

  <!--

<div ng-repeat="jokeSingle in tutorial.chuckJokes">
  <br/> ========
  <span ng-bind="jokeSingle.joke"></span>
</div>

<div>
  <input type="number" ng-model="tutorial.varA"
    style="width:50px;"></input>
  +
  <input type="number" ng-model="tutorial.varB"
    style="width:50px;"></input>
  <button ng-click="tutorial.sumaNum()">Suma</button>
  =
  <span ng-bind="tutorial.sumaResult"></span>
</div>
-->
